*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
   /* body{
      background-image: url(background.jpeg) ; 
      background-position: center; 
      width: 100%;
      height: 100vh;
  }  */
   .home{
      background-image: url(background1.jpeg) ;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100vh;
      background-attachment: fixed;
      
  }
  body{
    background:rgb(250, 231, 207);
  }
  nav{
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 70px;
      margin-top: 10px;
      background-color: rgb(255, 255, 255,0,0.703);
      -webkit-backdrop-filter: blur(30px);
      backdrop-filter: blur(30px);
      width: 100%;
      position: fixed;
      z-index: 10;
      
    }
    .header{
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    .header i{
        font-size: 35px;
        color: green;
    }
    .header .logoo{
        font-size: 30px;
        color: green;
    }
    .header h3{
        color: black;
        font-size: 25px;
    }
    .nav a{
        text-decoration: none;
        color: #078435;
        font-size: 25px;
        font-weight: 700;
        margin: 30px;
        padding: 10px;
        transition: all 0.1s ease;
    }
    .nav a:hover{
        border: none;
        background-color: #046929;
        color: white;
        border-radius: 50px;
    }
    
    .nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      
      .navbar li {
        float: left;
      }
      
      .navbar li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
      }
      
      /* Change color on hover */
      .navbar li a:hover {
        border: none;
        background-color: #046929;
        color: white;
        border-radius: 50px;
      }
      
      /* Dropdown container */
      .dropdown {
        display: inline-block;
        
      }
      
      /* Dropdown button */
      .dropbtn {
        display: block;
        color: white;
        text-align: center;
        padding: 0px;
        text-decoration: none;
      }
      
      /* Dropdown content (hidden by default) */
      .dropdown-content {
        display: none;
        border-radius: 25px;
        position: absolute;
        background-color: rgb(207, 220, 141);
        width: 200px;
       max-height: 200px;
       overflow-x: auto; 
        z-index: 1;
      }
      
      /* Links inside the dropdown */
      .dropdown-content a {
        color: white;
        /* padding:10px; */
        margin: 5px;
        padding: 5px;
        display: block;
        text-align: left;
      }
      
      /* Change color of dropdown links on hover */
      .dropdown-content a:hover {
        background-color: #046929;
      }
      
      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {
        display: inline-block;
      }

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
   transform: translate(0px,-500px);
}
.ingr{
    margin: 20px;
    font-size: 0;
    background: none;
    background-color: rgb(238, 213, 184);
    padding: 0;
    border: none;
    border-radius:50%;
    width:100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
    cursor: move;
}
.ingr:hover{
    font-size:larger;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s ease;
}
.ingr img{
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the image */
    max-width: 70%;
    max-height: 70%;
    transition: 0.6s ease;

}
.ingr:hover img{
    transform: scale(0.45);
}
#trash{
   font-size: 200px;
    transform: translate(1160px,-490px);
    position: fixed;
    cursor: pointer;
    color: #036527;
}

#counter{
    font-size: 50px;
    background-color:#036527;
    color: white;
    border-radius: 50%;
    padding: 8px;
    position: fixed;
    transform: translate(1285px,-480px);
    z-index: 1000;
}

   
#trashdiv{
    transform: translate(100px,40px);
    position: fixed;
}
#trashdiv:hover{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color:   #373434;
}
#removebtn{
    cursor: pointer;
    transform: translate(1275px,-250px);
    border-radius: 30px;
    padding: 14px;
    font-size: 26px;
    position: fixed;
    background: -webkit-linear-gradient(right, #036527, #c1c36c);
    color:beige;
}