* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

/*splash screen*/
.intro{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("IntroPic.jpg");
    background-position: center;
    background-size: 100%;
    transition: 1s;
}
.edit{
    color: #078435;
    font-size: 50px;
}
.logo-header{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(13, 55, 41);
}

.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}
.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;

}
.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}
/* ----------------------------------------------- */
/* style of home page and navigation bar */
.home{
    background-image: url(home.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    
}
.homepage{
    
    transform: translateY(100px);

}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgb(255, 255, 255,0,0.703);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    width: 100%;
    position: fixed;
    z-index: 10;
}
.header{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header i{
    font-size: 35px;
    color: green;
}
.header .logoo{
    font-size: 30px;
    color: green;
}
.header h3{
    color: black;
    font-size: 25px;
}
.nav a{
    text-decoration: none;
    color: #078435;
    font-size: 25px;
    font-weight: 700;
    margin: 30px;
    padding: 10px;
    transition: all 0.1s ease;
}
.nav a:hover{
    border: none;
    background-color: #046929;
    color: white;
    border-radius: 50px;
}
.homepage{
    margin-left: 60px;
}
.homepage h1{
    color: #078435;
    font-size: 50px;
    font-weight: bold;
}
.homepage h2{
    font-size: 30px;
    margin-bottom: 50px;
}
.homepage button{
    text-decoration: none;
    font-size: 25px;
    border: none;
    border-radius: 50px;
    background-color: #12c854;
    padding: 10px;
    color: white;
    box-shadow: 0 5px 10px rgba(1, 1, 1, 0.925);
}
.homepage button:hover{
    background-color: #046929;
    transform: scale(1.1,1.1);
}
/* ----------------------------------------------- */

/* Design scroll bar */
::-webkit-scrollbar {
    width: 15px; 
}


::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #04b115; 
}


::-webkit-scrollbar-thumb:hover {
    background: #066a09;
}

/* ------------------------------------------------------------ */
 
/* categiries section css */
.categories-section .h1-plate{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    color: #0d4b23;
   transform: translateY(85px);
    text-shadow: #fff4d5;
} 

.icon {
    display: flex;
    justify-content: center;
   font-size: 25px; 
    background-color:green; 
    color:rgb(252, 252, 252); 
   align-items: center;
    border-radius: 100%;
    margin-left: 10px; 
}

.card-container1 {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;
}

.card1 {
    position: relative; 
    width: 400px;
    height: 390px;
    margin-top: 100px;
    border: 10px solid rgba(119, 192, 134, 0.8);
    border-radius: 40px;
    overflow: hidden;
    transition: transform 0.3s ease;
}
.card1:hover {
    transform: scale(1.1);
}

.card1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.word1 {
    position: absolute; 
    top: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 5px 10px; 
    border-radius: 5px;
    display: none; 
    z-index: 1; 
}

.card1:hover .word1 {
    display: block; 
}
.categories-section{
    background-color:rgb(243, 246, 249);
    height: 100vh;
}

/* ------------------------------------------------ */

/* style about section */
.about{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 150px;
}
.image{
    margin-right: 100px;
}
.image img{
    width: 400px;
    margin-top: 70px;
    border-radius: 30px;
}
.paragraph{
    margin-top: 80px;
    margin-left: 40px;
}
.paragraph h1{
    font-size: 50px;
}
.paragraph .logoo{
    color: #078435;
    font-size: 65px;
}
.paragraph h2{
    margin-top: 20px;
    width: 50%;
    font-size: 25px;
}
/* --------------------------------------------------- */

/* design footer */

.footer{
    background-color: #04b115;
    width: 100%;
    height: 250px;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
}
.footer .header{
    display: flex;
    justify-content: center;
   
}
.footer .header .logoo {
    color: black;
}
.footer .header i {
    color: black;
}
.list li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.list a {
  padding: 40px;
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: 800;
}
.icons{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.icons a{
    text-decoration: none;
    font-size: 40px;
    padding-right: 10px;
    color: black;
}
/* ---------------------------------------------------------- */

/* ingredient button styling & main dishes page styling*/

/* .cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin:20px 50px ;
}
.ingredient{
    margin: 20px;
    font-size: 0;
    background: none;
    background-color: rgb(238, 213, 184);
    padding: 0;
    border: none;
    border-radius:50%;
    width:100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
}
.ingredient:hover{
    font-size:larger;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s ease;
}
.ingredient img{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    max-width: 70%;
    max-height: 70%;
    transition: 0.6s ease;

}
.ingredient:hover img{
    transform: scale(0.45);
}
.container{
    max-height: 250px;
    overflow: hidden;
    position: relative;
    transition: max-height 0.3s cubic-bezier(0.4, 0, 0.2, 1); 
}
.container.active{
    max-height: 3000px;
    transition: max-height 1s cubic-bezier(0.4, 0, 0.2, 1);

}
.seemore{
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    border: none;
    font-size: larger;
    font-weight: 500;
    color: #078435;
    background-color: transparent;
    padding: 15px 0px;
    z-index: 2;
    cursor: pointer;
}
.seemore::after{
    content:"";
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    height: 80px;
    background: linear-gradient(180deg,#fff4d500,#f0dba391,#efd48ae0);
    z-index: -1;

}
.ingredients1{
    margin-top: 50px;
}
h1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    color: #0d4b23;

}

h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
    font-size: xx-large;
    color: #0d4b23;
}

.card-container {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 55px;
    margin-top: 50px;
}

.card {
    cursor: pointer;
    width: 325px;
    background-color: #fff4d5;
    border-radius: 40px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.6s ease;
}

.card:hover {
    transform: translateY(-20px);
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 40px;
}

.card-content {
    padding: 20px;
}

.card-content h3 {
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #0d4b23;
}

.card-button {
    display: flex;
    background-color: #078435;
    color: #fff;
    text-transform: none;
    border-radius: 5px;
    padding: 8px 16px;
    text-decoration: none; 
    align-items: center;
    justify-content: center;

}
#MainDishBody{
    background-color:#fff4d5;
}
/* ------------------------------------------------------------ */
/*--------------------dessert page css---------------------------------*/

/* .ingrediants1 {
    padding: 100px 80px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}


h1 {
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Grouping similar selectors together */
/* .biscuit, .nuts, .milk, .butter, .flour, .fruits, .sugar, .cream, .chocolate, .whip-cream, .coffe, .baking-soda, .eggs, .vanilla, .cocoa, .cinnemon,
.icecream,
.maplesyrup,
.honey,
.yogurt,
.carrots {
    background: none;
    background-color: bisque;
    border: none;
    border-radius: 50%;
    margin: 40px;
} */

/* Grouping similar hover effects */
/* .biscuit:hover, .nuts:hover, .milk:hover, .butter:hover, .flour:hover, .fruits:hover, .sugar:hover, .cream:hover, .chocolate:hover, .whip-cream:hover, .coffe:hover, .baking-soda:hover, .eggs:hover, .vanilla:hover, .cocoa:hover, .cinnemon:hover,
.icecream:hover,
.maplesyrup:hover,
.honey:hover,
.yogurt:hover,
.carrots:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
} */

/* Grouping similar image styles */
/* .biscuit img, .nuts img, .milk img, .butter img, .flour img, .fruits img, .sugar img, .cream img, .chocolate img, .whip-cream img, .coffe img, .baking-soda img, .eggs img, .vanilla img, .cocoa img, .cinnemon img,
.icecream img,
.maplesyrup img,
.honey img,
.yogurt img,
.carrots img {
    display: inline-block;
    position: relative;
    align-items: center;
    padding: 0;
    margin: 15px;
    width: 70px;
    height: 70px;
}


h2 {
    
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

.card-container {
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 50px;
} */

/* .card {
    width: 325px;
    background-color: #f4f4f4;
    
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.6s ease;
}

.card:hover {
    transform: translateY(-20px);
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-content {
    padding: 20px;
} */

/* .card-content h3 {
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 24px;
} */

/* .card-content p {
    font-size: 15px;
    margin-bottom: 20px;
}

.card-button {
    display: inline-block;
    background-color: #078435;
    color: #fff;
    text-transform: none;
    border-radius: 5px;
    padding: 8px 16px;
} */
/* ------------------------------------------------------------ */
 

/* styling for appetizer page */

/* .card {
    cursor: pointer;
    width: 325px;
    background-color: #fff4d5;
    border-radius: 40px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.6s ease;
}
.ingredient{
    margin: 20px;
    font-size: 0;
    background: none;
    background-color: rgb(238, 213, 184);
    padding: 0;
    border: none;
    border-radius:50%;
    width:100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
}
.ingredient:hover{
    font-size:larger;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s ease;
}
.ingredient img{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    max-width: 70%;
    max-height: 70%;
    transition: 0.6s ease;

}
.ingredient:hover img{
    transform: scale(0.45);
}
.container{
    max-height: 250px;
    overflow: hidden;
    position: relative;
    transition: max-height 0.3s cubic-bezier(0.4, 0, 0.2, 1); 
}
.container.active{
    max-height: 3000px;
    transition: max-height 1s cubic-bezier(0.4, 0, 0.2, 1);

}
.seemore{
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    border: none;
    font-size: larger;
    font-weight: 500;
    color: #078435;
    background-color: transparent;
    padding: 15px 0px;
    z-index: 2;
    cursor: pointer;
}
.seemore::after{
    content:"";
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    height: 80px;
    background: linear-gradient(180deg,#fff4d500,#f0dba391,#efd48ae0);
    z-index: -1;

}
.ingredients1{
    margin-top: 50px;
}
h1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    color: #0d4b23;
}

h2 {
    
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
    font-size: xx-large;
    color: #0d4b23;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 55px;
    margin-top: 50px;
} */

/* .card {
    cursor: pointer;
    width: 300px; 
    background-color: #fff4d5;
    border-radius: 40px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.6s ease;
    margin-bottom: 55px; 
}

.card:hover {
    transform: translateY(-20px);
}

.card img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 40px;
}

.card-content {
    padding: 20px;
}

.card-content h3 {
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #0d4b23;
}

.card-button {
    display: flex;
    background-color: #078435;
    color: #fff;
    text-transform: none;
    border-radius: 5px;
    padding: 8px 16px;
    text-decoration: none; 
    align-items: center;
    justify-content: center;

}  */