<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="icons.css">
    <link rel="stylesheet" href="molten-cake.css">
    <link rel="stylesheet" href="cream-brule.css">
    <link rel="stylesheet" href="tiramisu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <title>Document</title>

</head>

<body id="dessert">

    <section class="home1" id="Home">
       
        <nav>
            <a href="" class="header">
                <i class="ri-restaurant-2-fill"></i>
                <h3><span class="logoo">R</span>ecipe<span class="logoo">M</span>aker</h3>
            </a>
            <div class="nav">
                <a href="/Home">Home</a>
                <a href="/categories">categories</a>
                <a href="/About">About</a>
                <a href="/Footer">Contact</a>
                <a href="#" class="user" id="dropdown-toggle">
                    <i class="fa-solid fa-user-large"></i></a>
                    <div class="dropdown-menu" id="user-dropdown">
                        <a href="/viewuserprofile">Edit Profile</a>
                        <a href="/form" id="logout">Logout</a>
                    </div>
            </div>
        </nav>
         <br>       

         <!-- card -->
<div class="card-container">
    <header class="card-header">
        <div class="shopping">
            <i class="ri-shopping-basket-fill"></i>
            <span class="quantity" id="countt">0</span>
        </div>
    </header>

</div>

<div class="card-shopping">
    <div class="img"> <img src="images/cooking.png" alt=""></div>
    <ul class="listcard"></ul>
    <div class="checkout">
        <div class="generate" id="generateBtn">generate</div>
        <div class="close"><img src="images/cross.png" alt=""></div>
    </div>
</div>
<!-- ----------------------------------------- -->
    
    <section class="ingrediants1">
        <h1>
            <strong>Ingredients</strong>
        </h1>
        <div class="container">
            <div class="cards">

                <% arrayI.forEach(ingredient => { %>
                    <% if (ingredient.dropdownnn === 'dessert') { %>
                        <button class="ingredient">
                            <img src="/uploads/<%= ingredient.ingredientImage %>" alt="<%= ingredient.ingredientName %>">
                            <%= ingredient.ingredientName %>
                        </button>
                    <% } %>
                <% }) %>
                

            </div>
            <button type="button" class="seemore">View more</button>
        </div>

    </section>
    <h2 class="header2">
        Looking for inspiration?
    </h2>
    <div class="card-container">
        <div class="card">
            <img src="images/molten-lava-cake-17.jpg">
            <div class="card-content"> 
            <h3>
                Molten cake
            </h3>
            <a href="molten-cake.html" class="card-button"> Get Recipe</a>
            <label class="add-fav" >
                <input type="checkbox" />
                <i class="icon-heart">
                  <i class="icon-plus-sign"></i>
                </i>
              </label>
        </div>
    </div>
    <div class="card">
        <img src="images/Creme-Brulee-1899.jpg">
        <div class="card-content"> 
        <h3>
            Crème brûlée
        </h3>
        <a href="cream-brule.html" class="card-button"> Get Recipe</a> 
        <label class="add-fav" >
            <input type="checkbox" />
            <i class="icon-heart">
              <i class="icon-plus-sign"></i>
            </i>
          </label>
    </div>
</div>
<div class="card">
    <img src="images/homemade-tiramisu-2.jpg">
    <div class="card-content"> 
    <h3>
        Tiramisu
    </h3>
    <a href="tiramisu.html" class="card-button"> Get Recipe</a> 
    <label class="add-fav" >
        <input type="checkbox" />
        <i class="icon-heart">
          <i class="icon-plus-sign"></i>
        </i>
      </label>
</div>
</div>
</div>
  
<script src="index.js"></script>
</body>

</html>