<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
</head>
<body>

    <div class="wrapper">
        <div class="title-text">
            <div class="title login">Already a user!</div>
            <div class="title signup">Register</div>
        </div>
        <div class="form-container">
            <div class="slide-controls">
                <input type="radio" name="slide" id="login" checked />
                <input type="radio" name="slide" id="signup" />
                <label for="login" class="slide login">Login</label>
                <label for="signup" class="slide signup">Signup</label>
                <div class="slider-tab"></div>
            </div>
            <div class="form-inner">
                <form action="/Login" class="login" id="form" method="POST">
                    <div class="field">
                        <input name="emails" type="email" placeholder="mohamed2202505@miuegypt.edu.eg" id="email" />
                        <i class="fa-regular fa-eye" style="visibility: hidden"></i>
                        <small id="smal" style="visibility: hidden">Error message</small>
                    </div>
                    <div class="field">
                        <input type="password" placeholder="Password" id="password" name="passwords" />
                        <i id="licon" class="fa-regular fa-eye"></i>
                        <small id="smalll" style="visibility: hidden">Error message</small>
                    </div>
                    <br />
                    <div class="pass-link">
                        <a href="/forgetpass">Forget password?</a>
                    </div>
                    <div class="field btn">
                        <div class="btn-layer"></div>
                        <input type="submit" value="Login" />
                    </div>
                    <div class="signup-link">
                        Not a member? <a href="">register now!</a>
                    </div>
                </form>
                <form
                    id="signup-form"
                    action="/Signupp"
                    class="signup"
                    name="signup"
                    onsubmit="return validate()"
                    method="POST"
                >
                    <div class="field">
                        <input type="text" placeholder="Name" id="name" name="names" />
                        <i class="fa-regular fa-eye" style="visibility: hidden"></i>
                        <small id="nsmall" style="visibility: hidden">Error message</small>
                    </div>
                    <div class="field">
                      <input type="text" placeholder="Username" id="usernames" name="usernames" />
                      <i class="fa-regular fa-eye" style="visibility: hidden"></i>
                      <small id="usmall" style="visibility: hidden">Error message</small>
                  </div>
                    <div class="field">
                        <input type="email" placeholder="Email" id="emails" name="emails" />
                        <i class="fa-regular fa-eye" style="visibility: hidden"></i>
                        <small id="esmal" style="visibility: hidden">Error message</small>
                    </div>
                    <div class="field">
                        <input type="password" placeholder="Password" id="passwords" name="passwords" />
                        <i id="sicon" class="fa-regular fa-eye"></i>
                        <small id="psmalll" style="visibility: hidden">Error message</small>
                    </div>
                    <div class="field">
                        <input type="password" placeholder="Confirm password" name="confirmpasswords" id="confirmpassword" />
                        <i id="cicon" class="fa-regular fa-eye"></i>
                        <small id="smalconf" style="visibility: hidden">Error message</small>
                    </div>
                    <div class="field">
                        <input type="text" placeholder="What is the name of your pet?" id="security" name="security" />
                        <i class="fa-regular fa-eye" style="visibility: hidden"></i>
                        <small id="ssmal" style="visibility: hidden">Error message</small>
                    </div>
                    <div class="field">
                        <select name="drop" id="drop">
                            <option value="male">male</option>
                            <option value="female">female</option>
                        </select>
                        <small id="smalconf" style="visibility: hidden">Error message</small>
                    </div>
                    <div class="field btn">
                        <div class="btn-layer"></div>
                        <input type="submit" value="Signup" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <% if (error) { %>
        <script>
            window.onload = function () {
                alert('<%= JSON.stringify(error) %>');
            };
        </script>
    <% } %>
    
    <script src="form.js"></script>
    <style>
     * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  html, body {
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: -webkit-linear-gradient(left, #036527, #c1c36c);
  }
  
  ::selection {
    background: #036527;
    color: #ffffff;
  }
  
  .wrapper {
    overflow: hidden;
    max-width: 390px;
    background: #f9f7bf;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  }
  
  .wrapper .title-text {
    display: flex;
    width: 200%;
  }
  
  .wrapper .title {
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  
  .wrapper .slide-controls {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 30px;
  }
  
  .slide-controls .slide {
    height: 100%;
    width: 100%;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
  }
  
  .slide-controls label.signup {
    color: #000;
  }
  
  .slide-controls .slider-tab {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 30px;
    background: -webkit-linear-gradient(left, #036527, #c1c36c);
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  
  input[type="radio"] {
    display: none;
  }
  
  #signup:checked ~ .slider-tab {
    left: 50%;
  }
  
  #signup:checked ~ label.signup {
    color: #fff;
    cursor: default;
    user-select: none;
  }
  
  #signup:checked ~ label.login {
    color: #000;
  }
  
  #login:checked ~ label.signup {
    color: #000;
  }
  
  #login:checked ~ label.login {
    cursor: default;
    user-select: none;
  }
  
  .wrapper .form-container {
    width: 100%;
    overflow: hidden;
  }
  
  .form-container .form-inner {
    display: flex;
    width: 200%;
  }
  
  .form-container .form-inner form {
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  
  .form-inner form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
  }
  
  .form-inner form .field input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 30px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
  }
  
  .form-inner form .field input:focus {
    border-color: #036527;
    border: 4px ridge #036527;
  }
  
  .form-inner form .field input::placeholder {
    color: #999;
    transition: all 0.3s ease;
  }
  
  form .field input:focus::placeholder {
    color: #53a34b;
  }
  
  .form-inner form .pass-link {
    margin-top: 5px;
  }
  
  .form-inner form .signup-link {
    text-align: center;
    margin-top: 30px;
  }
  
  .form-inner form .pass-link a,
  .form-inner form .signup-link a {
    color: #036527;
    text-decoration: none;
  }
  
  .form-inner form .pass-link a:hover,
  .form-inner form .signup-link a:hover {
    text-decoration: underline;
  }
  
  form .btn {
    height: 50px;
    width: 100%;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
  }
  
  form .btn .btn-layer {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right, #036527, #c1c36c, #036527, #c1c36c);
    border-radius: 30px;
    transition: all 0.4s ease;
  }
  
  form .btn:hover .btn-layer {
    left: 0;
  }
  
  small {
    color: red;
  }
  
  .form-control.error input:focus {
    border-color: red;
    border: 4px ridge red;
  }
  
  .form-control.error input {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    padding-left: 15px;
    border-radius: 30px;
    border-color: #e74c3c;
  }
  
  .form-control.error input::placeholder {
    color: #999;
    font-size: 17px;
    transition: all 0.3s ease;
  }
  
  .form-control.success input {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    padding-left: 15px;
    border-radius: 30px;
    border-color: #2ecc71;
  }
  
  .form-control.success input::placeholder {
    color: #999;
    font-size: 17px;
    transition: all 0.3s ease;
  }
  
  form .btn input[type="submit"] {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #ffffff;
    padding-left: 0;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }
  
  #licon {
    transform: translate(300px, -35px);
  }
  
  #sicon {
    transform: translate(300px, -35px);
  }
  
  #cicon {
    transform: translate(300px, -35px);
  }
  
  #icon {
    visibility: hidden;
  }
  
  #drop {
    border-radius: 30px;
    width: 30%;
    height: 80%;
    font-size: 18px;
    color: #999;
  }

    </style>
</body>
</html>
